
@import "theme_variables";
@import "vendor_variables";

#category-banner {
  margin-bottom: 15px;

  img {
  	width: 100%;
  }
}

#category-description {
  margin-bottom: 25px;
}

.subcategory-title {
  margin: 0;
}
