.page-heading {

  // &.product-listing {}
  // .heading-counter {}

  @include clearfix(); // .heading-counter is using float-right;
                       // This fixes element height when the is overflow

  span.lighter {
    color: $text-muted;
  }
}

.page-subheading {
  font-size: $font-size-h3;
  padding: 0 0 8px;
  margin: 0 0 10px;
  border-bottom: 1px solid $ps-border-color;
}

.page-product-heading, 
.page-heading {
  padding: 10px 0;
  margin: 0 0 15px;
  border-top: 1px solid $ps-border-color;
  color: $brand-primary
}
